{% extends "layout.html" %} {% block content %}
<div class="registration">
  
  <div class="reg-form">
    <form action="{{url_for("registration")}}" method="POST" >
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="fname">Full name</label>
      <input type="text" name="fname" id="fname" />
      <label for="phone">Phone Number</label>
      <input type="text" name="phone" id="phone" />
      <label for="email">Email ID</label>
      <input type="email" name="email" id="email" />
      <label for="address">Address</label>
      <textarea
        name="address"
        id="address"
        cols="30"
        rows="5"
        placeholder="Address.."
      ></textarea>
      <label for="passwd">Password</label>
      <input type="password" id="reg-passwd" name="passwd" />
      <label for="repasswd">Confirm Password</label>
      <input type="password" id="reg-repasswd" name="repasswd" />
      <div class="admin">
        <input type="checkbox" name="admin" value="yes" />
        <label for="admin">Admin</label>
      </div>
      <button id="getotp-btn" type="submit" class="submit-btn">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
